{% extends 'main/base.html' %}

{% block title %}Title{% endblock %}

{% block content %}
<script type="text/javascript">
Ext.onReady(function(){
	var vp = new Ext.Viewport({
		title: Ext.fly('page-title').innerHTML,
		layout: 'border',
		renderTo: Ext.getBody(),
		items: [{
		    xtype: 'ext:ux:drug-tree',
			pk: '{{ group_pk }}'
		},{
			xtype: 'panel',
			title: 'Title',
            frame: false,
            border: false,
            region: 'center',
            layout: 'vbox',
            items: [{
                id: 'drug-info-panel',
                frame: true,
                border: false,
                html: 'Выберите препарат',
                flex: 0.2,
                xtype: 'panel',
                width: '100%',
                url: URLS.drug_info
            },{
            	xtype: 'ext:ux:drug-edit'
            }]
		},{
			xtype: 'ext:ux:category-tree'
			         			
		}]
	});
});
</script>
{% endblock %}